/* ===== global styles ===== */

body  {
    font-family: Georgia, serif;    /* default page font */
    background: #191919 /*url(../images/page_background.jpeg)*/;
    margin: 0;          /* shorthand for all margins = 0 */
    padding: 0;         /* no padding */
}

p, h1, h2, h3, h4, h5, h6, li {
    margin: 1ex 1em;
}

#outerDiv {
    width: 880px; 
    height: 1100px;      /* sets the content width */
    margin: 5px auto 0px auto ;   /* no top/bottom margin, centered horizontally */   
       
    background: #d9d9d9  url(../images/banner.jpg) no-repeat;opacity: 0.95;     /* white content background, 
    
    header image */
}

a {
    text-decoration: none;
    color: #de0017;
}

a:hover, a:active {
    color: #00eeff;
    border-bottom: 1px dashed #566440;
}

/* ===== header ===== */

#header {
    height: 126px;          /* set size equal to banner image */
    position: relative; 
    margin: 15px auto 0px auto;     /* allow absolute positioning relative to this space */
                            /* (used for menus below) */
}


/* the content portion of the page */

#content {
    background-color: #e3e3e3;
    padding: 5px;
    
}


/* ===== main menu ===== */

#mainMenu {
    position: absolute;
    left: 220px;
    bottom: 0;
}

#mainMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainMenu li {
    float: left;
    margin: 0;
    padding: 0;
}

#mainMenu a {
    font-family: "Trebuchet MS", sans-serif;
    display: block;
    color: #1b00ff;
    text-decoration: none;
    padding: 0 15px 0 30px;
    margin-right: 10px;
    line-height: 25px;
    background: url(../images/GroundswellSprites.png) -286px -25px;
    border: none;
}

#mainMenu a:hover {
    color: #00ddff;
    background-position: -286px 0;
}

#mainMenu a.current {
    margin-top: -5px;
    height: 30px;
    background-position: -86px 0px ;
    color: #ff0000;
    line-height: 25px;
}

#mainMenu a.current:hover {
    cursor: default;
}



/* ====- main content ===== */

#mainContent {
    float: left;
    width: 430px;
    margin: 0 0;
    padding: 0 15px;
}

#mainContent p {
    font-size: 0.9em;
    line-height: 1.4em;
    color: black;
    margin: 1ex 0;
}

#mainContent h1, #mainContent h2, #mainContent h3, #mainContent h4 {
    font-family: "Trebuchet MS", sans-serif;
}

#mainContent h1 {
    font-size: 1.6em;
    font-weight: bold;
    color: #2106d0;
    margin: 0 0 .4ex 0;
}

#mainContent h2 {
    font-size: 1.2em;
    color: #3c3809;
    margin: .4ex 0;
}

#mainContent h4 {
    font-size: 1.1em;
    font-weight: bold;
    color: #666;
    margin: 1ex 0 -.2ex 0;
}

#mainContent ul {
    font-size: 0.9em;
    margin: 0 0 1.4ex 0;
}



/* ====== main content left menu ====== */

#mainContent .leftMenu {
    font-family: "Trebuchet MS", sans-serif;
    margin-top: 0;
}

#mainContent .leftMenu a {
    color: #566440;
}

#mainContent .leftMenu a:hover {
    color: #b36b00;
    border: none;
}

/* ===== sidebar ===== */

#sideBar {
    float: right;
    width: 395px;
    padding: 0px 5px;
    margin: 0;
    border-left: solid #aaa 1px;
}

#sideBar p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
    color: #666;
    margin: 0 0 3ex 0;
}
#sideBar i1 {
    margin: 5px 20px 5px 100px;
}

#sideBar h3 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #1b9d95;
    text-align: left;
    margin: 1ex 0 .5ex 0;
}

#sideBar img {
    margin: 5px 25px 5px 100px;
}

#sideBar img.photo {
    padding: 5px;
    border: 1px solid #999;
}

#sideBar ol {
    margin: .5em 0 1.5em 0 ;
}

#sideBar li {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 0.8em;
    color: #666;
    margin: .2em .5em;
}

#vimeo {
    position: relative;
    width: 440px;
    height: 200px;
    background-color: silver;
   


}

#video {
    position: absolute;
    z-index: 99999;
    margin:20px 20px 20px 20px;
}

/* ===== footer ===== */

#footer {
    clear: both;
    background: transparent;
    margin: 0 auto;
    padding: 5px;
}

#footer p {
    font-family: "Trebuchet MS", sans-serif;
    font-size: .75em;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer a {
    color: #1b9d95;
    text-decoration: none;
}

/* ===== miscellaneous styles ===== */

.clear {
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}
